---
import BlogPost from '../../layouts/BlogPost.astro';

const slug = Astro.params.slug;
const res = await fetch(`/api/posts`);
const posts = res.ok ? await res.json() : [];
const post = posts.find(p => p.slug === slug);
{post ? (
	<BlogPost title={post.title} published_at={post.published_at}>
		<div innerHTML={post.content} />
	</BlogPost>
) : (
	<h1>Post not found</h1>
)}
